<form [formGroup]="CountryForm" (ngSubmit)="OnSubmit()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Country Master</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="email">Country Name:</label>
                                <input type="text" class="form-control" id="CountryName" formControlName="CountryName">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>